/Manifest*
/test/examples/*
/test/input_files/water_box.pdb
/test/input_files/ieee_signaling_box.pdb
.vscode/settings.json
docs/build
docs/Manifest.toml
box.inp
src/_old_src
water_box.pdb
test/output.pdb
output.pdb
water_box_small.pdb
spherical.pdb
/*.pdb
*scratch*
test/input_files/bilayer.pdb
test/input_files/mixture.pdb
test/input_files/solvprotein.pdb
test/run_packmol/ieee_signaling_box.pdb
