name = "Packmol"
uuid = "6cdf86f9-9676-4cea-a42d-19f9a563443f"
version = "0.1.13"
authors = ["Leandro Martinez <lmartine@unicamp.br> and contributors"]

[deps]
CellListMap = "69e1c6dd-3888-40e6-b3c8-31ac5f578864"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NativeFileDialog = "e1fe445b-aa65-4df4-81c1-2041507f0fd4"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
Packmol_jll = "eb89d173-8f78-57a0-9e6e-c2e8c44a5e61"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
SPGBox = "bf97046b-3e66-4aa0-9aed-26efb7fac769"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
TestItems = "1c621080-faea-4a02-84b6-bbd5e436b8fe"

[compat]
Aqua = "0.6, 0.7, 0.8"
CellListMap = "0.9"
FiniteDifferences = "0.12.30"
ForwardDiff = "0.10"
LinearAlgebra = "1.9"
NativeFileDialog = "0.2.1"
OrderedCollections = "1.8.0"
Packmol_jll = "21.0.1"
Parameters = "0.12"
Printf = "1.9"
Random = "1.9"
SPGBox = "0.5, 0.6, 0.7"
ShowMethodTesting = "1.2.0"
StaticArrays = "1"
Statistics = "1.9"
Test = "1.9"
TestItemRunner = "1"
TestItems = "0.1, 1"
julia = "1.10"

[apps.packmol]
submodule = "CLI"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
FiniteDifferences = "26cc04aa-876d-5657-8c51-4c34ba976000"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
ShowMethodTesting = "aed2ae9c-e0a3-4a50-8068-bdeec279239a"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestItemRunner = "f8b46487-2199-4994-9208-9a1283c18c0a"

[targets]
test = ["Aqua", "Test", "Random", "StaticArrays", "ForwardDiff", "FiniteDifferences", "TestItemRunner", "ShowMethodTesting"]
