name: CI
on: [push]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: julia-actions/setup-julia@v2
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
#name: CI
#on:
#  - push
#  - pull_request
#concurrency:
#  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
#  cancel-in-progress: true
#jobs:
#  test:
#    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
#    runs-on: ${{ matrix.os }}
#    strategy:
#      fail-fast: false
#      matrix:
#        version:
#          - 'lts'
#          - 'pre'
#        os:
#          - ubuntu-latest
#          - macOS-latest
#          - windows-latest
#    steps:
#      - uses: actions/checkout@v6
#      - uses: julia-actions/setup-julia@v2
#        with:
#          version: ${{ matrix.version }}
#      - uses: julia-actions/cache@v2
#      - uses: julia-actions/julia-buildpkg@latest
#      - uses: julia-actions/julia-runtest@latest
#      - name: install and run packmol app (unix)
#        if: runner.os != 'Windows' && matrix.version == 'pre' 
#        shell: bash
#        run: |
#          echo "Testing packmol APP ... "
#          julia -e 'import Pkg; Pkg.Apps.develop(path=".")'
#          juliabin=`julia -e 'print(joinpath(Base.DEPOT_PATH[1],"bin"))'`
#          echo "julia binary path: $juliabin"
#          cd ./test/run_packmol
#          $juliabin/packmol -i water_box.inp
#          julia -e 'using Test; @test isfile("water_box.pdb")'
#          echo "Testing packmol APP ... ok"
#      - name: install and run packmol app (windows)
#        if: runner.os == 'Windows' && matrix.version == 'pre'
#        shell: pwsh
#        run: |
#          Write-Host "Testing packmol APP ... "
#          julia -e 'import Pkg; Pkg.Apps.develop(path=".")'
#          $juliabin = julia -e 'print(joinpath(Base.DEPOT_PATH[1],"bin"))'
#          Write-Host "julia binary path: ${juliabin}"
#          cd .\test\run_packmol
#          & "${juliabin\packmol.exe}" -i water_box.inp
#          julia -e 'using Test; @test isfile("water_box.pdb")'
#          Write-Host "Testing packmol APP ... ok"
#  docs:
#    name: Documentation
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: julia-actions/setup-julia@v1
#        with:
#          version: '1'
#      - run: |
#          julia --project=docs -e '
#            import Pkg; Pkg.add("Documenter")
#            using Pkg
#            Pkg.develop(PackageSpec(path=pwd()))
#            Pkg.instantiate()'
#      - run: |
#          julia --project=docs -e '
#            import Pkg; Pkg.add("Documenter")
#            using Documenter: doctest
#            using Packmol
#            doctest(Packmol)'
#      - run: julia --project=docs docs/make.jl
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
#
#
#